body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.primary{
  color: blue !important; ;
}
.success{
  color: green !important; ;
}
.warning{
  color: yellow !important; ;
}
.danger{
  color: red !important; ;

}
.complete-btn{
  position: absolute !important;
  right: 40px !important;;

}